<h2>User Account Setting</h2>

<ul>
  <li>User Name: <%= @user.name %></li>
  <li>Email: <%= @user.email %></li>
  <li>Admin? <%= @user.admin %></li>
</ul>


<%= link "Edit", to: Routes.admin_user_path(@conn, :edit, @user), class: "btn btn-secondary"%></span><br>