<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="Portland's Digital Curator">
  <meta name="author" content="Josh Chernoff <jchernoff@polymorhpic.productions>">

  <title>Polymorphic Productions</title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
    crossorigin="anonymous">
  <%= render_existing @view_module, "social." <> @view_template, assigns %>

  <%= if Application.get_env(:polymorphic_productions, :render_tracking) do %>
    <%= render "tracking.html"%>
  <% end %>

</head>

<body data-preloader="1">

  <%= render "header.html", conn: @conn, current_user: @current_user, view_module: @view_module, view_template: @view_template  %>

  <div class="section">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-lg-12">

          <div class="row">
            <div class="col-lg-12">

              <%= if get_flash(@conn, :success) do %>
              <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <%= get_flash(@conn, :success) %>
              </div>
              <% end %>

              <%= if get_flash(@conn, :info) do %>
              <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <strong>Info:</strong>
                <%= get_flash(@conn, :info) %>
              </div>
              <% end %>

              <%= if get_flash(@conn, :error) do %>
              <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <strong>Error:</strong>
                <%= get_flash(@conn, :error) %>
              </div>
              <% end %>
            </div>
          </div>

          <%= render @view_module, @view_template, assigns %>

        </div>
      </div>
    </div>
  </div>
  <%= render "footer.html", conn: @conn %>

  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

</body>

</html>