<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="Portland's Digital Curator">
  <meta name="author" content="Josh Chernoff <jchernoff@polymorphic.productions>">

  <link rel="apple-touch-icon" sizes="180x180" href="<%= Routes.static_path(@conn, "/images/apple-touch-icon.png") %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= Routes.static_path(@conn, "/images/favicon-32x32.png") %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= Routes.static_path(@conn, "/images/favicon-16x16.png") %>">
  <link rel="mask-icon" href="<%= Routes.static_path(@conn, "/images/safari-pinned-tab.svg") %>" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <title>Polymorphic Productions</title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
    crossorigin="anonymous">
  <%= render_existing @view_module, "social." <> @view_template, assigns %>

  <%= if Application.get_env(:polymorphic_productions, :render_tracking) do %>
    <%= render "tracking.html"%>
  <% end %>

</head>

<body data-preloader="1">

  <%= render "header.html", conn: @conn, current_user: @current_user, view_module: @view_module, view_template: @view_template  %>
  
  <div class="section">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-lg-12">
          <%#= render PolymorphicProductionsWeb.LayoutView, "flash.html", conn: @conn #TODO: Finish flash partial %>

          <%= render @view_module, @view_template, assigns %>
        </div>
      </div>
    </div>
  </div>

  <%= render "footer.html", conn: @conn %>

  <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

</body>
</html>