<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="Portland's Digital Curator">
  <meta name="author" content="Josh Chernoff <jchernoff@polymorphic.productions>">
  
  <link rel="apple-touch-icon" sizes="180x180" href="<%= Routes.static_path(@conn, "/images/apple-touch-icon.png") %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= Routes.static_path(@conn, "/images/favicon-32x32.png") %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= Routes.static_path(@conn, "/images/favicon-16x16.png") %>">
  <link rel="mask-icon" href="<%= Routes.static_path(@conn, "/images/safari-pinned-tab.svg") %>" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <title>Polymorphic Productions</title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/vendors~app.app.css") %>"/>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
    crossorigin="anonymous">
  <%= render_existing @view_module, "social." <> @view_template, assigns %>

  <%= if Application.get_env(:polymorphic_productions, :render_tracking) do %>
    <%= render "tracking.html"%>
  <% end %>
</head>

<body data-preloader="1">

  <div id="scrolltotop" class="scrolltotop">
    <a class="button-circle button-circle-sm button-circle-dark" href="#"><i class="icon icon-arrow-up"></i></a>
  </div>

  <%= render "header.html", conn: @conn, current_user: @current_user, view_module: @view_module, view_template: @view_template  %>
  
  <%= render @view_module, @view_template, assigns %>

  <%= render "footer.html", conn: @conn %>


<!-- Modal -->
<div class="modal fade" id="notify-modal" tabindex="-1" role="dialog" aria-labelledby="notify-modal-Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Notification Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <i class="notify-icon far fa-bell"></i>
        <h3>Get Notified</h3>
        <p>
          <span class="notification-notes">Enable to get periodic notifications</span><br />
          <span class="small">* Average not more than 3 per month</span>

        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="js-push-btn-toggle btn btn-success"> <i class="far fa-bell"></i> Enable Notifications</button>
      </div>
    </div>
  </div>
</div>

  <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  <script src="<%= Routes.static_path(@conn, "/js/vendors~app.js") %>"></script>





</body>

</html>