//
// Your Custom Styles //
//

img {
  max-height: 609px;
}

// Overrides

.display-4 {
  font-family: "Abril Fatface", cursive;
  font-weight: normal !important;
  @include media-breakpoint-down(sm) {
    font-size: 30px;
  }
}

.page-title-lg .container,
.page-title-lg .container-fluid {
  padding: 140px 20px;
  h1 {
    font-family: "Abril Fatface", cursive;
    font-weight: normal !important;
  }
}

.timeline-content {
  min-height: 450px;
}

#posts {
  padding: 50px 0;
}

.new_user .required:after {
  content: "";
}

.section,
.section-md {
  padding: 50px 0;
}
.section.bg-image .container,
.section.bg-image .container-fluid,
.section-md.bg-image .container,
.section-md.bg-image .container-fluid {
  padding: 50px 20px;
}

@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
// Overrides

.display-4 {
  font-family: "Abril Fatface", cursive;
  font-weight: normal !important;
  @include media-breakpoint-down(sm) {
    font-size: 30px;
  }
}

.page-title-lg .container,
.page-title-lg .container-fluid {
  padding: 140px 20px;
  h1 {
    font-family: "Abril Fatface", cursive;
    font-weight: normal !important;
  }
}

.timeline-content {
  min-height: 450px;
}

#posts {
  padding: 50px 0;
}

.new_user .required:after {
  content: "";
}
